.comment {
  margin: 4rem 0;
  &__title {
    text-align: center;
    margin: 2rem auto;
    font-size: 1.5rem;
    font-weight: 600;
    color: #094067;
  }

  &__item {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px !important;
    border-radius: 15px !important;
    &__content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 200px;
      padding: 2rem;
    }
  }
}
